@tailwind base;
@tailwind components;
@tailwind utilities;
/* Home.css */

/* Product Card Styling */
.product-card {
  background-color: yellow;
  border-radius: 8px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-content {
  text-align: center;
}

.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-brand {
  color: gray;
}

.product-rating {
  font-weight: bold;
}

/* Button Styling */
.product-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.view-button,
.add-to-cart-button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.view-button:hover,
.add-to-cart-button:hover {
  background-color: #555;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
#abcd{
  position: relative;
  justify-content: center;
  display: flex;
  align-self: center;
}
